.userMessage{
    width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .userName{
    width: 20%;
    font-size: 20px;
  }
  .messageText{
    width: 60%;
  
  }
  .messageDate{
    width: 20%;
    text-align: right;
    margin-bottom: 0;
  }
  