.messageItem {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    margin-top: 10px;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
    border-radius: 10px;
  }
  
  .myMessageItem {
    background-color: rgb(190, 190, 214);
    display: grid;
    grid-template-columns: 10fr 2fr;
    margin-top: 10px;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
    border-radius: 10px;
  }
  
  .msg{
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
  }
  
  .myMessageItem:hover{
    box-shadow: 0px 20px 30px rgba(0,0,0,0.03);
    transform: translateY(-3px) scale(102%);
  }

  .content {
    margin: 15px;
  }

  .editButtons{
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
  }
  
  .editButtons:hover{
    cursor: pointer;
  }

  .messageItem:last-child {
    display: grid;
    grid-template-columns: 2fr 2fr 8fr;
    margin: 20px auto
  }
  
  .myMessageItem:last-child {
    display: grid;
    grid-template-columns: 3fr 3fr 10fr 2fr;
    margin: 20px auto
  }

  .overlay {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1054px;
    height: 180px;
    z-index: 1;
    visibility: hidden;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
  }

  .overlayVisible {
    visibility: visible;
    opacity: 1;
  }

.input{
  width: 60%;
  border-radius: 5px;
}

.sc {
  margin: 10px;
  background-color: rgb(211, 211, 211);
}