.home {
	width: 100%;
	min-height: calc(100vh - 100px);
	background-color: #19386a;
	position: relative;
}

.home__baner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 500px;
	min-width: 280px;
	height: 450px;
	border-radius: 1.25rem;
	overflow: hidden;
}

.home__baner::before {
	content: '';
	position: inherit;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% + 220px);
	height: calc(100% + 220px);
	background: linear-gradient(45deg,#fa8734 20%,#dd0239 40%,#319197 80%);
	animation: rotate infinite 1s linear;
}

@keyframes rotate {
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.home__message {
	position: absolute;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	top: 15px;
	left: 15px;
	border-radius: 10px;
	background: #19386a;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home__message > span {
	font-size: 3rem;
}

.home__message > span:last-child {
	font-size: 5rem;
	text-transform: uppercase;
}