.container {
  background-color: rgb(240, 229, 231);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1%;
  word-spacing: 5px;
  font-family: 'Trebuchet MS', sans-serif;
}

.content {
  width: 30%;
  text-align: center;
  margin-bottom: 2%;
  color: rgb(131, 21, 233);
  border: 1px solid greenyellow;
  padding: 2%;
  box-shadow: 1px 2px 2px 2px rgb(241, 176, 78);
}
