.row {
  display: flex;
}
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 40%;
  height: auto;
}


.card {
  padding-bottom: 30px;
}

.select {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  width: 150px;
  background-color: orange
}