.row {
  display: flex;
}
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  background-color: rgb(217, 248, 239);
  height: auto;
}


.card {
  padding-bottom: 30px;
}