body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navigation {
    display: inline-flex;
    flex-direction: row;
    gap: 3em;
    padding: 2em;

}

.single-message {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.date-and-name {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    font-size: small;
}

.message {
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-width: 200px;
    padding: 1em;
    padding-top: 0;
    font-family: "Cambria Math";

}

.message:hover {
    cursor: pointer;
}

.current-user {
    align-self: flex-end;
}

.current-user > div {
    background-color: rgb(9 106 217);
    color: white;
    padding: 0.5em;


}


.message-box {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.text {
    border-radius: 10px;
    background-color: #E4E6EB;
    text-align: center;
    color: white;


}

.Green {
    color: chartreuse;

}

.Blue {
    color: blue;

}

.Red {
    color: red;

}

.login {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 200px;
}

.loggedIn-user {
    display: inline;
    position: relative;
    width: 200px;
    right: 0vw;
    top: 15px;
    float: right;
}

.Black {
    color: black;
}

.last-message {
    height: 5em;
}


.new-message input {
    width: 60%;
    height: 36px;
    border-radius: 20px;
    padding-left: 0.5em;
    font-size: 16px;
    transition: 0.4s;


}

.new-message input:focus {
    width: 100%;
    transition: 0.4s;
}


.input-send {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px

}

.input-send img {
    cursor: pointer;
    width: 30px;
    height: 27px

}