body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(92, 33, 95);
  height: 10vh;
  align-items: center;
  background-color: rgb(236, 175, 241);
}

.header a {
  color: #fff;
  background-color: rgb(158, 102, 172);
  border-radius: 5px;
  border: 1px solid rgb(34, 5, 25);
  text-decoration: none;
  padding: 10px;
}

.header .active {
  color: rgb(212, 100, 240);
  background-color: rgb(176, 50, 235);
  transition: all 0.3s;
}

.message-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 20px auto 0;
  width: 45%;
}

.message-item:last-child {
  margin: 20px auto
}

.message-filter {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
}

.message-input {
  width: 300px;
}

.message-container {
  text-decoration: none;
}
.login{
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  align-items: center;
  margin: 100px;;
}
.login button{
  height: 30px;
  width: 80px;
  justify-content: center;
  background-color: rgb(207, 74, 207);
  border-radius: 10%;
  transition-duration: 0.1s;
}
.login button:hover{
  background-color: rgb(180, 116, 212);
}
.login input{
  height: 30px;
  width: 250px;
  background-color: rgb(229, 191, 248);
  margin-bottom: 30px;
}
